@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

input,
select,
textarea {
  @apply border p-2 rounded outline-none ring-indigo-300 focus:ring;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500 transition-all;
}

.sky-button {
  @apply rounded bg-sky-300 py-2 px-4 shadow outline-none hover:bg-sky-400 active:bg-sky-500 transition-all;
}

.disabled-button {
  @apply rounded bg-slate-200 py-2 px-4 shadow outline-none cursor-not-allowed transition-all;
}

.menu-item {
  @apply flex flex-row gap-5 items-center px-10 py-5 hover:bg-amber-500 hover:text-white transition-all;
}

.space-text {
  text-align: justify;
  text-align-last: justify;
}

@import 'react-toastify/dist/ReactToastify.css';
